table {
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.day {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.lunch {
    background-color: white;
    font-weight: bold;
}